*.vs
*.exe
*.ipch
*.cache
*.pdb
*.log
*.tlog
Algorithm/Debug/
Algorithm/Debug/*
.vscode
.vscode/
Debug/
*.suo
*.opensdf
.vs/
Startup/obj/
*.ipch
.vs/Algorithm/v17/.suo
*.db
*.log
.vs/Algorithm/v17/.suo
*.db
*.log
